name: Build Flutter Desktop Installers

on:
  push:
    tags:
      - "v*"

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'
      - run: flutter pub get
      - run: flutter build windows --release

      # Install Inno Setup
      - name: Install Inno Setup
        run: choco install innosetup --yes

      - name: Build Windows Installer
        shell: pwsh
        run: |
          $VERSION = $env:GITHUB_REF -replace 'refs/tags/', ''
          & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" installer.iss /DMyAppVersion=$VERSION

      - name: Upload Windows Installer
        uses: actions/upload-artifact@v4
        with:
          name: Invoiso-Windows-Installer
          path: Output/InvoiceAppSetup.exe

  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: ubuntu-18.04
            deb_name: Invoiso-Ubuntu18.deb
          - distro: ubuntu-22.04
            deb_name: Invoiso-Ubuntu22.deb
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'

      - name: Setup build deps
        run: |
          sudo apt-get update -y
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev patchelf squashfs-tools

      - run: flutter pub get
      - run: flutter build linux --release

      - name: Build .deb Package
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          VERSION=${VERSION#v}
          ./make_deb.sh -v "$VERSION" --reset-build
          mv *.deb ${{ matrix.deb_name }}

      - name: Upload .deb
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.deb_name }}
          path: ${{ matrix.deb_name }}

  build-appimage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev patchelf squashfs-tools

      - run: flutter pub get
      - run: flutter build linux --release

      - name: Prepare AppDir
        run: |
          mkdir -p AppDir/usr/bin
          cp -r build/linux/x64/release/bundle/* AppDir/usr/bin/
          cp build/linux/x64/release/bundle/invoiso AppDir/invoiso
          mkdir -p AppDir/usr/share/icons
          pwd
          ls -a
          cp assets/deb/images/logo.png AppDir/usr/share/icons/logo.png

      - name: Install AppImage Builder
        run: |
          sudo apt-get install -y appstream file desktop-file-utils libfuse2 zsync
          pip install appimage-builder

      - name: Build AppImage
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          VERSION=${VERSION#v}
          # Replace only AppDir.app_info.version
          # sed -i "s/^\(\s*version:\s*\)[0-9.]\+$/\1$VERSION/" AppImageBuilder.yml
          sed -i "/app_info:/,/^[^ ]/ s/^\(\s*version:\s*\)[0-9.]\+$/\1$VERSION/" AppImageBuilder.yml
          appimage-builder --recipe AppImageBuilder.yml --skip-test

      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: Invoiso-AppImage
          path: "*.AppImage"
