name: Build Flutter Desktop Installers

on:
  push:
    tags:
      - "v*"

jobs:
#  build-windows:
#    runs-on: windows-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: subosito/flutter-action@v2
#        with:
#          flutter-version: '3.32.8'
#      - run: flutter pub get
#      - run: flutter build windows --release
#
#      # Install Inno Setup
#      - name: Install Inno Setup
#        run: choco install innosetup --yes
#
#      # Run Inno Setup (full path for reliability)
#      - name: Build Windows Installer
#        run: '& "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" installer.iss'
#
#      - name: Upload Windows Installer
#        uses: actions/upload-artifact@v4
#        with:
#          name: InvoiceApp-Windows-Installer
#          path: Output/InvoiceAppSetup.exe

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev patchelf squashfs-tools
      - run: flutter pub get
      - run: flutter build linux --release

      - name: Make make_deb.sh executable
        run: chmod +x make_deb.sh

      - name: Build Debian Package
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "Building version $VERSION"
          ./make_deb.sh -v "$VERSION"

      - name: Upload Debian Package
        uses: actions/upload-artifact@v4
        with:
          name: InvoiceApp-Deb
          path: "*.deb"

#      - name: Prepare AppDir
#        run: |
#          mkdir -p AppDir/usr/bin
#          cp -r build/linux/x64/release/bundle/* AppDir/usr/bin/
#          cp build/linux/x64/release/bundle/invoiceapp AppDir/invoiceapp
#          mkdir -p AppDir/usr/share/icons
#          pwd
#          ls -a
#          cp assets/deb/images/logo.png AppDir/usr/share/icons/logo.png
#
#      - name: Install AppImage Builder
#        run: |
#          sudo apt-get install -y appstream file desktop-file-utils libfuse2
#          pip install appimage-builder
#
#      - name: Build Linux AppImage
#        run: appimage-builder --recipe AppImageBuilder.yml
#
#      - name: Upload Linux AppImage
#        uses: actions/upload-artifact@v4
#        with:
#          name: InvoiceApp-Linux-AppImage
#          path: "*.AppImage"